<script>
	
</script>
<template>
	<div id="admin-index-component">
				  <div class="panel panel-default">
	<div class="panel-heading">
		Users
	</div>
	<div class="panel-body">
		<table class="table table-bordered table-responsive table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="user in users">
					<td>{{ user.name }}</td>
					<td>{{ user.email }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
		
	</div>

</template>


<script>
export default {

    data(){
        return {
            users: {}
        }
    },
    computed: {},

    created(){
        //DO SOMETHING HERE AT FIRST LOAD
        let that = this;
        axios.get('/api/v1/users')
            .then(function (response) {
                that.users = response.data.data;
            })
            .catch(function (error) {
                console.log(error);
            });
    },
    methods: {
        onSubmit(){
            let that = this;
        }
    }


};</script>
<style type="text/css" media="screen">
	
</style>
