<script>
	
</script>
<template>
	<div id="admin-index-component">
				  <div class="panel panel-default">
	<div class="panel-heading">
		Dashboard
	</div>
	<div class="panel-body">
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
	</div>
</div>
		
	</div>

</template>


<script>
export default {

    data(){
        return {
            users: {}
        }
    },
    computed: {},

    created(){
        //DO SOMETHING HERE AT FIRST LOAD
        let that = this;
        axios.get('/api/v1/users')
            .then(function (response) {
                that.users = response.data.data;
            })
            .catch(function (error) {
                console.log(error);
            });
    },
    methods: {
        onSubmit(){
            let that = this;
        }
    }


};</script>
<style type="text/css" media="screen">
	
</style>
